.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: var(--flock-margin-xxs);
  display: inline-block;
  opacity: 1;
  color: inherit;
}

.text-type__cursor--hidden {
  display: none;
}
